/* Cascade Style Sheet of PPSee version 1.33. */
body	{
	text-align: center;
	font-family: sans-serif;
	font-size: 12pt;
	margin: 1px 1px 30pt;
	color: #BBBBBB;
	background-color: #111111;
	background-image: url("../general/bg.jpg");
	}
a	{
	color: #AAAAAA;
	}
a:hover	{
	color: #AAAAAA;
	}
h1	{
	font-size: 30pt;
	color: #99FF99;
	}
h2	{
	font-size: 18pt;
	color: #99FF99;
	}
strong	{
	font-style: normal;
	font-weight: bold;
	}
hr	{ width: 94%;
	}
.e	{
	margin: 0px;
	border: 0px;
	padding: 0px;
	}
.button	{text-decoration:none;
	}
.logo	{
	margin-left: 18pt;
	vertical-align: top;
	}
.indexImg	{
	margin: 2px;
	border: 2px solid white;
	padding: 1px;
	background: black;
	}
.detailImg	{
	margin: 0px;
	border: 6px solid white;
	padding: 1px;
	background: black;
	}
.detailTitle	{
	margin: 0pt auto 5pt;
	}
.detailDescr	{
	margin: 1pt 1pt 5pt;
	font-size: 11pt;
	}
.showImg	{
	margin: 0px;
	border: 6px double #AAAAAA;
	padding: 0px;
	}
img#basicImage {
	cursor: Crosshair;
	}
.coreDescr	{
	font-size: 12pt;
	}
/* Style of navigation images. */
.navigation	{
	margin: 0px 2px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
	}
/* Style of a navigations area (a control block). */
.navigations, .navigationsDet	{
	margin: 0px;
	border: 0px;
	padding: 0px;
	}
/* Prologue texts */
.prologue	{
	margin: 5pt 0pt 20pt;
	border: 0pt;
	padding: 0pt;
	}
.error	{
	font-size: 12pt;
	font-weight: bold;
	color: #ee0000;
	background-color: white;
	text-align: center;
	padding: 3pt;
	width: 300pt;
	}
#photoswipe-btn	{
	font-size: 12px;
	font-weight: bold;
	heigth: 17px;
	text-align: center;
	padding: 0pt;
	margin: 0px;
	width: 45px;
	}
.i	{
	font-style:italic;
	}
img.photoSwipeBtn	{
	visibility: hidden;
	}